<%-include('header.ejs');-%>

    <div class="error">
        <div class="errbox">
            <h1 class="err404">404</h1>
        </div>
        
        <h2 class="errortype">City Not Found</h2>
        <p class="description">Try Pincode That'll Work Too.</p>
        <a href="/"><button class="backbutton">Back To Home</button></a>
    </div>

<%-include('footer.ejs');-%>