<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeatherToday</title>
    <link rel="icon" href="weather-app.png">
    <link rel="stylesheet" href="main.css">
</head>
<body>   
    <div class="nav">
        <a href="/" style="text-decoration: none;"><h2 class="title">WeatherToday</h2></a>
    </div>