<%-include('header.ejs');-%>

    <div class="mainpage">
        <form class="form" action="/" method="post">
            <input class="box" type="text" name="search" placeholder="Search City">
            <button class="button" type="submit">Search</button>
        </form>
    </div>

<%-include('footer.ejs');-%>